extends layout 

block content 
  h1 Admin Access

  if !currentUser.admin
    form(method='POST' action="")
      div.form-group
        input#name.form-control(type='text', name='code' placeholder="Code" required)
      button.btn.btn-primary(type='submit') Submit
  else 
    h2.text-success You're an Admin now!