extends layout 

block content 
 h1 Admin Access 

  form(method='POST' action="")
    div.form-group
      input#name.form-control(type='text', name='username' placeholder="Code" required)
    button.btn.btn-primary(type='submit') Submit