extends layout 

block content
  if currentUser 
    h3 Hello, #{currentUser.username}
    
  //dispay every post from evey user.
  //if they're are not a memeber, mask user names. else show them
  //