extends layout 

block content 
  h1=title 
  div Not a user?
    a(href="/sign-up") Sign-up
  form(method='POST' action="")
    div.form-group
      label(for='username') Username:
      input#name.form-control(type='text', name='username' required)
      br
      label(for='password') Password:
      input#name.form-control(type='password', name='password' required)
    button.btn.btn-primary(type='submit') Log In

  if errors
   ul
    for error in errors
     li!= error.msg