extends layout 

block content 
  h1 Membership Access

  if !currentUser.membership_status
    form(method='POST' action="")
      div.form-group
        input#name.form-control(type='text', name='code' placeholder="Code" required)
      div.text-success=successMsg
      button.btn.btn-primary(type='submit') Submit
  else 
    h2.text-success You're a Member now!