extends layout 

block content

  if !currentUser.admin
    h3.text-danger ACCESS DENIED
  else
    form(method='POST' action="")
      div.delete-confirmation
        div
          h1 Are you sure you want to delete this post?
        div
          button.btn.btn-danger(type='submit') Delete
          a.btn.btn-light(role="button", href="/") Cancel