extends layout 

block content 
  h1=title 
  form(method='POST' action="")
    div.form-group
      label(for='username') Username:
      input#name.form-control(type='text', name='username' required)
      br
      label(for='password') Password:
      input#name.form-control(type='password', name='password' required)
      br
      label(for='confirm-password') Confirm Password:
      input#name.form-control(type='password', name='confirm-password' required)
      if successMsg
        span.text-success #{successMsg} 
          a(href='/login') Log-in here
    button.btn.btn-primary(type='submit') Sign Up
  
  if errors
   ul.errors
    for error in errors
     li.text-danger!= error.msg