body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.block-content {
  max-width: 900px;
  padding: 0 3rem;
  margin: 2rem auto;
}
