body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.logo a {
  color: white;
  text-decoration: none !important;
}

.block-content {
  max-width: 900px;
  padding: 0 3rem;
  margin: 2rem auto;
}
